/*Aca estamos poniendo el tamano del contenedor en 65vh para que sea igual que el espacio que le dimo a
contenedorPrincipal y asi poder centrar el div que tiene el login o registro*/
.contenedor-login {
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 20px;

}

.contenedor-form {
    background: var(--verde5);
    border-radius: 10px;
    border: 2px solid white;
   

  
}

.formulario-login-Register{
    

}

.centrarFilaFormulario{
    display: flex;
    justify-content: center;
 flex-wrap: wrap;

}

.SignIn{
    font-weight: 400;
    padding-left: 5px;
}