/*Estilos del caparazon como tal principal*/
.caparazonPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    position: relative;
}
.footer{
    background: rgb(242, 255, 0);

}