/*Estilos del caparazon como tal principal*/
.caparazonPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.footer{
    background: red;
  
}