.contenedor-carousel-general{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.carousel-inner{
    border-radius: 50px;
  
  }
  .carousel-item{
    border-radius: 50px;
    
  }
  .img-fluid{
    border-radius: 50px;
  
  }
  .carousel{max-width: 100%; min-height: 100px; max-height: 100px;}
  .contenedor-carousel{display: flex; flex-direction: row; justify-content: center;}
