.footer{

    background: var(--verde5);
    position: absolute;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-items: center;
 flex-wrap: wrap;

}

.iconoRedes{
    font-size: 40px;
    padding-left: 10px;
    margin: 5px;
}

.github:hover{
    color: #6e5494;
  
}

.whatssap:hover{
color: #128c7e;
}

.gmail:hover{
color:#be0027;
}
.linkdin:hover{
color:#0099e5;
}

.contenedor-mensaje-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-items: center;
}

/*?RESPONSIVE*/

@media(max-width:255px){
    .iconoRedes{
        font-size: 30px;
        padding-left: 5px;
    }
    .mensaje{
        font-size: 10px;
    }
}