.footer{

    background: var(--verde5);
    position: absolute;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
 flex-wrap: wrap;

}

.iconoRedes{
    font-size: 40px;
    padding-left: 10px;
    margin: 5px;
}
.contenedor-mensaje-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

/*?RESPONSIVE*/

@media(max-width:255px){
    .iconoRedes{
        font-size: 30px;
        padding-left: 5px;
    }
    .mensaje{
        font-size: 10px;
    }
}