.contenedor-formulario-contacto{
    background: var(--verde5);
    border-radius: 10px;
    border: 2px solid white;
    text-align: center;
    justify-content: center;
    align-self: center;
    align-items: center;
    padding: 0;
}

.formularioContacto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
}

.textarea{
    height: 150px;
    max-height: 150px;
    min-height: 150px;
}