.contenedor-formulario-contacto{
    background: var(--verde5);
    border-radius: 10px;
    border: 2px solid white;
    height: 70%;
}

.formularioContacto{
    display: flex;
    justify-content: center;
}