.header{
    display: flex;
    background: rgb(157, 240, 194) url("./../../img/Header.jpg");
 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
    min-height: 30%;
    height: 35vh;
    max-height: 35vh;
    width: 100%;
    min-width: 100%;
    position: relative;
}