.header{
    display: flex;
    background: rgb(22, 129, 22) url("./../../img/Header.jpg");
 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
    min-height: 30%;
    height: 35vh;
    max-height: 35vh;
    width: 100%;
    min-width: 100%;
    position: relative;
}