.PadreHome {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;

}

.separador {
    color: var(--verde5);
    background-color: var(--verde5);
    height: 20px;
    margin-top: 30px;
    margin-bottom: 5px;
    border-end-start-radius: 100px;
    border-top-right-radius: 100px;

}

.contenedor-imagen {}

.cajaImagen{
    border-bottom: 2px solid var(--verde5);
    border-radius: 10px;
  
}

.contenedor-escrito {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.contenedor-titulo {
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.titulo {
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 2px;


}

.contenedor-texto {
    text-align: center;
    justify-content: center;

}

.btn-texto{}

/*?RESPONSIVE*/
@media(max-width:350px){
    .titulo {
    
        font-size: 25px;
        padding: 2px;
    
    
    }
}

.carouselPersonalizado{
    border-radius: 500px;
}