.PadreHome {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;

}

.separador {
    color: var(--verde5);
    background-color: var(--verde5);
    height: 20px;
    margin-top: 30px;
    margin-bottom: 5px;
    border-end-start-radius: 100px;
    border-top-right-radius: 100px;

}

.contenedor-imagen {}

.cajaImagen{
    border-bottom: 2px solid var(--verde5);
    border-radius: 10px;
  
}

.contenedor-escrito {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.contenedor-titulo {
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.titulo {
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 2px;


}

.contenedor-texto {
    text-align: center;
    justify-content: center;

}

.btn-texto{}

.contenedor-articulos-home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.contenedor-articulos-home-titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    justify-self: center;

}

.contenedor-producto-home-padre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   background: url('./../../img/home1368.svg');
   background-position: center;
   background-size: cover;
}

.contenedor-producto-home-jr{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.SeeMore{
    border-bottom: 1px solid white;
    cursor: pointer;
}
.SeeMore:hover{
    color: var(--verde5);
}


.contenedor-contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.titulo-contacto{
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 2px;

}
/*CLASES PARA ANIMACIONES*/
.opacity0{
    opacity: 0;
}

/*?RESPONSIVE*/
@media(max-width:350px){
    .titulo {
    
        font-size: 25px;
        padding: 2px;
    
    
    }
    .titulo-contacto{
        font-size: 25px;
        padding: 2px;
    }
}



