.contenedor-nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
    position: absolute;
    bottom: 50%;
    z-index: 2;
    
}

.menunav {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 5px;
    border: 3px solid rgba(205, 204, 200, 0.5);
    
}

/*Esta parte es el contenedor que tiene el navbar de los navLink es decir, menu como tal.
Estoy diciendo que normalmente estaran a la derecha.
*/
.contenedor-interno-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;

}
/*Diseno a los links como tal*/
.nav-link{
    margin-left: 2px;
    color: rgb(2, 74, 2);
    font-weight: 400;
    background: rgb(44, 232, 138,0);
    border-radius: 30px;
    padding: 5px;
  
}
.nav-link:hover{
   color: rgb(2, 90, 2);

}
.activeLink{  background: rgb(44, 232, 138);
    border-radius: 30px;}

/**-----------------------------------------------------------------------------*/

/*?RESPONSIVE*/

/*Para este apartado cuando llegue a cierto tamaño como tal el nav se pondra mas abajo para que al darle al boton se abra y se pueda apreciar y no quede muy arriba*/
@media(max-width:400px) {
    .contenedor-nav {
       position: sticky;

    }
    /*Aca haces que el navBar tenga todo el tamaño al llegar a dispositivos pequeños*/
    .menunav {
        width: 100%;
        
    }
}

/*SERIE DE RESPONSIVES A LOS PADDING DE LAS OPCIONES DEL MENU*/

@media(max-width:375px){
    .nav-link{
        margin-left: 5px;
    }
}

@media(max-width:262px){
    .nav-link{
        margin-left: 10px;
    }
}

/*Necesidad de que el nav el menu se pongan o separados o uno debajo del otro cuando se active el boton del collapse*/
@media(max-width:992px) {
    .contenedor-interno-nav {
        justify-content: space-around;
    }
}