
:root {
    --verde1: rgb(2, 74, 2);
    --verde2:rgb(1, 120, 1);
    --verde3:rgb(23, 215, 119,.5);
  }


*{
    color: aliceblue;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Droid Sans', Tahoma, Geneva, Verdana, sans-serif;

}

.fondito{
    background: red;
}
.fondito2{
    background: purple;
}