.separadorAdmin {
    color: var(--verde4);
    background-color: var(--verde4);
    height: 20px;
    margin-top: 30px;
    margin-bottom: 5px;
    border-end-start-radius: 100px;
    border-top-right-radius: 100px;
}

.fila{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.fondito{background: red;}
.contenedorGeneral{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: var(--verde5);
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: solid 5px white;
}
.contenedorGeneralMayor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: var(--verde5);
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: solid 5px white;
    min-height: 300px;
}



/*?RESPONSIVE*/

@media(max-width:280px){
    .contenedor-categorias{
        font-size: 12px;
    }
   .contenedor-categorias input{
    font-size: 12px;
   }
   .contenedor-categorias button{
    font-size: 12px;
   }
   .contenedor-categorias select{
    font-size: 9px;
   }
}
@media(max-width:360px){
    .contenedorGeneralMayor input {
        font-size: 12px;
     
    }
    .contenedorGeneralMayor select {
        font-size: 12px;
     
    }
    .contenedorGeneralMayor button {
        font-size: 12px;
     
    }
    .contenedorGeneralMayor textarea {
        font-size: 12px;
     
    }
}

