.fila1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedorGeneral{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
    background: var(--verde4);
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}
