.card {
  padding: 5px;
  height: 100%;
  background: var(--verde5);
}


  .card-title {
    font-style: italic;
    color: var(--verde4);
  }

  /*?RESPONSIVE*/
 
  
  @media (min-width: 999px) {
    .card:hover {
      border-radius: 50px;
      transition: all 0.5s ease;
    }
  
  }
  