.modal-xlsg {
    width: 90%;
  }
  
  .card-title {
    font-style: italic;
    color: #3aa0f4;
  }
  
  @media (min-width: 768px) {
    .modal-dialog {
      width: 600;
      margin: 30px auto;
    }
  
    .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
      box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
  
    .modal-sm {
      width: 300px;
    }
  }
  
  @media (min-width: 999px) {
    .card2:hover {
      border-radius: 50px;
      transition: all 0.5s ease;
    }
  
  }
  
  .card {
    height: 100%;
  }
  
  .imagenNuevo {
    width: 100%;
  
    max-width: 100%;
  
    align-items: center;
    align-self: center;
    text-align: center;
  }