.card {
  padding: 5px;
  background: var(--verde5);
  cursor: pointer;
}
.card-title {
  font-style: italic;
  color: var(--verde4);
}
/*Para que se oculte POR SI ACASO la descripcion*/
.contenedor-texto-card{
  overflow: hidden;
  max-height: 150px;
  flex-grow: 1;
  text-overflow: ellipsis;
  white-space: normal;
}

/*?RESPONSIVE*/
@media (min-width: 999px) {
  .card:hover {
    background: var(--verde4);
    transition: all 0.5s ease;
  }
 .card:hover .card-title{
  color: white;
  transition: all .5s ease;
 }
  .card:not(:hover) {
    background: var(--verde5);
    transition: all 0.5s ease;
  }

}


.card{
  position: relative;
  text-align: center;
}