.separador2{
    color: var(--verde4);
    background-color: var(--verde4);
    height: 20px;
    margin-top: 30px;
    margin-bottom: 5px;
    border-end-start-radius: 100px;
    border-top-right-radius: 100px;

}

.contenedor-busqueda{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
    padding: 10px;
}


.opcionSelect{
    color: black;
}

.contenedor-productos-padre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 400px;
}
.contenedor-productos-hijo{
   
    background: var(--verde4);
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    flex-wrap: wrap;
}
.contenedor-producto-hijoJr{
    height: 50%;
    align-self: center;
}

.contenedor-vermas{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}