.contenedor-busqueda{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--verde4);
    margin-top: 10px;
    padding: 10px;
}


.opcionSelect{
    color: black;
}