/* Modal */
.ReactModalPortal>div {
    opacity: 0;
    color: black;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999999999999999999;
  color: black;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);

    position: fixed;
    color: black;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: rgb(26, 25, 25);
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 520px;
    max-width: 400px;
    outline: none;
    padding: 10px;
    color: black;
}